@import "../../assets/constants.scss";

.register-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

  form {
    height: auto;
    width: 250px;

    fieldset {
      position: relative;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      width: 100%;
      padding: 20px 10px;
    }
    label {
      display: block;
      margin-bottom: 10px;
      font-size: 12px;

      span {
        display: block;
      }
      #password {
        margin-bottom: 20px;
      }

      input {
        padding: 5px 20px;
        border: 1px solid black;
        height: auto;
        border-radius: 10px;
        margin-top: 10px;
        background-color: inherit;
        width: 200px;
        margin-left: 15px;
        font-size: 10px;
      }
    }
  }
}

.register-button {
  position: absolute;
  right: 20px;
  bottom: 10px;
  // display: hidden;
  border: 1px;
  padding: 5px 10px;
  border-radius: 16px;
  width: 100px;
  height: auto;
  box-shadow: $primary-shadow;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  // padding: 8px 5px;
}
.register-button:hover {
  background-color: black;
}

@media only screen and (min-width: 768px) {
  .register-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;

    form {
      height: auto;
      width: 350px;

      fieldset {
        position: relative;
        border-radius: 5px;
        padding: 10px 10px 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        width: 100%;
        padding: 20px 10px;
      }
      label {
        display: block;
        margin-bottom: 10px;
        font-size: 12px;

        span {
          display: block;
        }

        input {
          position: relative;
          left: 30px;
          padding: 0 20px;
          border: 1px solid black;
          height: 32px;
          border-radius: 16px;
          margin-top: 15px;
          background-color: inherit;
          width: 250px;
          font-size: 10px;
        }
      }
    }
  }

  .register-button {
    position: relative;
    left: 200px;
    // display: hidden;
    border: 1px;
    border-radius: 16px;
    width: 100px;
    height: 32px;
    box-shadow: $primary-shadow;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    // padding: 8px 5px;
  }
  .register-button:hover {
    background-color: black;
  }
}
