@import "../../assets/constants.scss";
.feature {
  display: flex;
  flex-direction: column;
  // border: 2px solid black;
  border-radius: 4px;
  //   flex: 1 0 30%;
  box-shadow: $primary-shadow;
  background-color: $secondary-accent;
  width: 350px;
  height: 200px;
  padding: 10px;
  justify-content: center;
  align-items: center;

  .feature-title{
    text-align: center;
  }

  .feature-text {
    text-align: center;
    margin-top: 2px;
  }
}

