footer {
  width: 100%;
  background-color: rgba(20, 15, 20, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  color: rgb(250, 247, 247);
}

.footer-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  font-size: 15px;
  //   border: 2px solid black;

  .sm-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin: 1px 3px;
      // border: 1px solid white;
      width: fit-content;
      text-decoration: none;
      font-size: 12px;
      margin: auto 10px;
      color: rgb(250, 247, 247);
      // margin: auto 20px;

      p {
        margin-left: 5px;
      }
    }

    a:hover {
      color: rgb(159, 70, 70);
    }

    .icons {
      background-color: inherit;
    }
  }
}
