/* $primary_color: red;
$secondary_color: blue;
$neutral_color: white; */

* {
  --webkit-box-sizing: border-box;
  --moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: #fff3e3;
}
header {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.sections {
  height: 100vh;
  width: 100%;
}

#hero > div {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;

  .hero-child {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    padding: 0 2.5%;
    height: 450px;
    width: 150px;
    border: 1px solid red;
    border-radius: 4px;
    background-color: aqua;
    .title {
      font-size: 30px;
      font-weight: 900;
    }
  }
}

#features {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}
#features > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  //   background-color: white;
  height: 500px;
  width: 800px;
}

#contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-us > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  width: 90%;
  border: 2px solid black;

  form {
    height: 500px;
    width: 350px;

    fieldset {
      position: relative;
      border-radius: 5px;
      padding: 10px 10px 0 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      width: 100%;
    }
    label {
      display: block;
      margin-bottom: 10px;

      span {
        display: block;
      }

      input {
        position: relative;
        left: 30px;
        border: none;
        border-bottom: 2px solid black;
        margin-top: 15px;
        background-color: inherit;
        width: 250px;
      }
    }
  }
}

#submit {
  position: relative;
  left: 200px;
  display: hidden;
  border: 2px solid purple;
  border-radius: 5px;
  width: 100px;
  height: 50;
  padding: 8px 5px;
}