@import "../../assets/constants.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Scribble&display=swap');

* {
  --webkit-box-sizing: border-box;
  --moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", "Open Sans", "Helvetica Neue", sans-serif;

  p {
    font-size: 13px;
  }
}

body {
  margin: 0px;
  background-color: white;
}

.sections {
  // border: 1px solid black;
  height: 100vh;
  width: 100%;
}

#hero > div {
  display: flex;
  position: relative;
  top: 2%;
  height: 95%;
  width: 95%;
  background-color: rgba(185, 255, 255, 0.7);
  border-radius: 5px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  .hero-child {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(133, 179, 179, 1);
    margin: 0px 20px;
    padding: 0 2.5%;
    box-shadow: $primary-shadow;
    // background-color: rgba(50, 10, 190, 0.1);
    height: 250px;
    width: 50px;
    border-radius: 4px;
    .title {
      font-size: 25px;
      font-weight: 900;
    }
    button {
      position: absolute;
      right: 10%;
      bottom: 10%;
      border-radius: 10px;
      border: none;
      font-size: 15px;
      padding: 10px;
    }
  }
}

#features {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
#features > div {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(164, 161, 161, 0.8);

  .feature-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    border-radius: 2px;
    height: 500px;
    width: 800px;
  }
}

#contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-us > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  width: 90%;
  background-color: rgba(50, 205, 205, 0.1);
  padding: 0 50px;

  .contact-text {
    width: 40%;
    line-height: 35px;
  }

  form {
    height: auto;
    width: 350px;

    fieldset {
      position: relative;
      border-radius: 5px;
      padding: 10px 10px 0 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      width: 100%;
      padding: 20px 10px;

      legend {
        font-size: 15px;
      }

      div {
        padding-top: 30px;
      }
    }
    label {
      display: block;
      margin-bottom: 10px;
      margin-left: 10px;
      font-size: 12px;

      span {
        display: block;
      }

      input {
        position: relative;
        left: 30px;
        padding: 0 20px;
        border: 1px solid black;
        height: 32px;
        border-radius: 16px;
        margin-top: 15px;
        background-color: inherit;
        width: 250px;
      }
      textarea {
        background-color: inherit;
        position: relative;
        left: 30px;
        padding: 20px 20px;
        border: 1px solid black;
        border-radius: 3px;
        margin-top: 15px;
        background-color: inherit;
        width: 250px;
      }
    }
  }
}

.button {
  position: relative;
  left: 200px;
  // display: hidden;
  border: 1px;
  border-radius: 16px;
  padding: 10px 20px;
  width: auto;
  height: auto;
  box-shadow: $primary-shadow;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: auto 10px;
}
.button:hover {
  background-color: black;
  padding: auto 10px;
}
