@import "../../assets/constants.scss";

.login-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  width: 100%;

  form {
    height: auto;
    width: 350px;
    margin-bottom: 150px;

    fieldset {
      position: relative;
      border-radius: 5px;
      padding: 10px 10px 0 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      width: 100%;
      padding: 20px 10px;
    }
    label {
      display: block;
      margin-bottom: 10px;
      font-size: 12px;

      span {
        display: block;
      }

      input {
        position: relative;
        left: 30px;
        padding: 0 20px;
        border: 1px solid black;
        height: 32px;
        border-radius: 16px;
        margin-top: 15px;
        background-color: inherit;
        width: 250px;
        font-size: 10px;
      }
    }
  }
}

.button {
  position: relative;
  left: 200px;
  // display: hidden;
  border: 1px;
  border-radius: 16px;
  width: 100px;
  height: 32px;
  box-shadow: $primary-shadow;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  // padding: 8px 5px;
 }
 .button:hover {
  background-color: black;
 }