@import "../../assets/constants.scss";

.question-div {
  display: flex;
  flex-direction: column;
  // width: 45%;
  height: auto;
  text-align: justify;
  border-radius: 5px;
  padding: 0 auto;
  // border: 1px solid black;

  .question {
    box-shadow: $primary-shadow;
    border-radius: 5px;
    padding: 4px 10px;
    margin: 0 auto;
    border: 1px solid black;
  }
}

.red-border {
  // border: 1px solid red;
  box-shadow: $red-shadow;
}
