@import "../../assets/constants.scss";

.show-result-div {
  box-shadow: $primary-shadow;
  background-color: rgba(200, 200, 200, 0.7);
  height: auto;
  width: auto;
  padding: 20px 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: $primary-shadow;

  .button {
    position: initial;
    left: 200px;
    // display: hidden;
    border: 1px;
    border-radius: 16px;
    padding: 10px 20px;
    width: auto;
    height: auto;
    box-shadow: $primary-shadow;
    margin: 10px;
    color: white;
    padding: auto 10px;
  }
}
