@import url("https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap");

.million {
  z-index: -1000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.million > h1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Rubik Scribble", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: rgba(46, 139, 160, 0.1);
}
