@import "../../assets/constants.scss";

.clock-component {
  background-color: rgba(250, 10, 10, 0.4);
  padding: 20px;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: $primary-shadow;
  border-radius: 8px;
}
